---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Gallery',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText tagline="Gallery" title="Day-to-Day Life at Lipi" />

  <!-- GForm for Contact Here! -->

  <script src="https://product-gallery.cloudinary.com/all.js" type="text/javascript"></script>

  <script>
    const cloudName = 'dstbben9g'; // replace with your own cloud name
    const tag = 'food';

    const select = document.getElementById('events');

    select.addEventListener('change', () => {
      const newTag = select?.value ? select.value.toLowerCase() : '';
      myGallery.update({ mediaAssets: [{ tag: newTag }] });
    });

    // Remove the comments from the code below to add
    // additional functionality.
    // Note that these are only a few examples, to see
    // the full list of possible parameters that you
    // can add see:
    //   https://cloudinary.com/documentation/product_gallery_reference

    const myGallery = cloudinary.galleryWidget({
      container: '#my-gallery',
      cloudName: cloudName,
      mediaAssets: [
        { tag: tag }, // by default mediaType: "image"
      ],
      // displayProps: { mode: "expanded", columns: 2 }, // multi column display
      // aspectRatio: "4:3", // if most assets are in landscape orientation
      // imageBreakpoint: 200,  // responsive resize images to closest step in 200px increments
      // carouselStyle: "indicators", // displays thumbnails by default
      // indicatorProps: { color: "red" },   // only relevant if CarouselStyle is set to indicators
      // carouselLocation: "right",  // "left" by default
      // borderColor: "red",  // color is transparent by default
      // borderWidth: 5, // border width is 0 by default
      // transition: "fade",  // "slide" by default
      // zoom: false,    // deactivate the zoom feature
    });

    myGallery.render();
  </script>

  <!-- Buttons for Indian Holidays -->
  <div class="w-4/5 md:w-3/5 mx-auto">
    <label for="events" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select Event</label>
    <select
      id="events"
      class="mb-3 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option value="food" selected>Independence Day</option>
      <option value="people">Ganesh Chaturthi</option>
      <option value="animals">Krishna Janmaasthami</option>
    </select>
  </div>

  <div id="my-gallery" class="mx-auto w-4/5 md:w-3/5"></div>
</Layout>
