---
import Layout from '~/layouts/PageLayout.astro';
import { Icon } from 'astro-icon/components';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { Image } from 'astro:assets';

const metadata = {
  title: 'Lipi Schools — On a quest to provide a holistic education to children',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Enroll Now',
        href: 'https://docs.google.com/forms/d/e/1FAIpQLSeMEZkF_qchLCa_LCXDdmK-8BL2qbMIMgzpOi0Toh4v_aOm8g/viewform?usp=sf_link',
        target: '_blank',
        icon: 'tabler:link',
      },
      { text: 'Contact Us', href: '/contact' },
    ]}
  >
    <Fragment slot="title">
      Welcome to
      <span class="text-accent dark:text-white highlight"> Lipi Schools</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Lipi</span> is a Nursery to VII Class (English Medium) school
      </span>
      located in the heart of <span class="font-bold text-blue-600">Beeramguda, Ameepur(M)</span> with a vision to provide
      a holistic education to children.
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/yyGD1m3jLB8?si=QkHGMGzqc2rvgjpy"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"></iframe>
      </div>
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="why-lipi"
    tagline="Why Choose Us?"
    title="What makes Lipi truly distinctive?"
    items={[
      {
        title: 'Individualized attention to each child',
        // description:
        // 'Student-teacher ratio is maintained at a , ensuring that each child gets the attention he/she deserves.',
      },
      {
        title: 'A safe and secure learning environment, with focus on student well-being',
        description:
          'We strive to provide a nurturing environment that encourages each child to grow to his/her full potential.',
      },
      {
        title: 'Upholds Indian cultural values, while fostering global citizenship',
        // description:
        // 'Ensure your website looks and functions consistently across various web browsers, delivering a seamless experience to all users.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Learning Environment</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Talented, experienced and dedicated faculty',
        // description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Offers an integrated curriculum from LKG to Class V',
        // description:
        // 'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Full-time IIT foundation programme from Class VI onwards',
        description: 'And other competitive exams like Olympiads, NTSE, KVPY, etc. are also prepared for.',
      },
      {
        title: 'Reasoning classes from Class III onwards',
        description: 'Helping students to develop their logical thinking and problem-solving skills.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Teaching</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Physics, Chemistry, Biology and Computer labs',
        // description:
        // 'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Each child will be encouraged to compete with himself/herself. ',
        description: 'We believe that every child is unique and has the potential to excel in his/her own way.',
      },
      {
        title: 'Children will be encouraged to grow to be self-reliant and independent in thought',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Personal Growth</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <div id="chairmans-voice">
    <Hero2
      tagline="Welcome from the Chairman"
      image={{
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
      }}
    >
      <Fragment slot="title"> Chariman's Voice </Fragment>

      <Fragment slot="subtitle">
        “Intelligence plus character that is the goal of true education”, these words are foundation stones of Lipi
        School.
      </Fragment>

      <Fragment slot="content">
        <div class="flex flex-col gap-4 text-left">
          <p>
            The core purpose of education is to provide children with a learning environment which brings out the best
            in them. We believe that every child is endowed with a unique set of attributes and abilities, which need to
            be nurtured so that they blossom.
          </p>
          <p>
            We provide a learning environment that inspires and motivates children and encourages them to explore
            limitless possibilities in their quest for knowledge.
          </p>
          <p>
            In Lipi, teaching is a pleasure and learning is a joy, excelling is a passion and culture and values have a
            pre-eminent place.
          </p>
          <p>
            In Lipi, every child deserves an education that fosters academic excellence and all-round delvelopment and
            ensures their well being.
          </p>
          <p>
            I warmly invite you to explore Lipi as we re-dedicate ourselves everyday, to impact the best education to
            young minds
          </p>
          <p class="font-bold text-lg">- MVV Satyanarayana</p>
        </div>
      </Fragment>
    </Hero2>
  </div>

  <!-- Steps Widget ****************** -->

  <Steps
    id="amenities"
    title="Lipi's Unique Features"
    items={[
      {
        title: 'NEP 2020 Methodology',
        // description:
        // "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'AC Class Rooms',
        // description:
        // "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:chalkboard',
      },
      {
        title: 'Seminar Halls',
        // description:
        // 'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:school',
      },
      {
        title: 'Experienced, Dedicated and Committed team of teachers and councellers',
        // description:
        // "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:military-rank',
      },
      {
        title: 'Activity-based learning',
        // description:
        // "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:trekking',
      },
      {
        title: 'Digitally equipped classromms',
        // description:
        // 'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:device-tv',
      },
      {
        title: 'Music and Dance classes',
        // description:
        // "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:music-heart',
      },
      {
        title: 'Yoga, Art and Craft classes',
        // description:
        // "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:yoga',
      },
      {
        title: 'Kids Game zone',
        // description:
        // 'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Science, Mathematics, and Computer Labs',
        // description:
        // "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:cell',
      },
      {
        title: 'Transport Facility',
        // description:
        // "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:bus',
      },
      {
        title: 'Mineral Water Plant',
        // description:
        // 'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:fountain',
      },
      {
        title: 'Fully Sanitized Washrooms',
        // description:
        // "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:bath',
      },
      {
        title: 'CCTV Surveillance',
        // description:
        // 'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:device-cctv',
      },
      {
        title: 'Readiness Programme',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <Features
    id="curriculum"
    tagline="Joy of Learning"
    title="Academic Curriculum & Learnig with Labs"
    items={[
      {
        title: 'NEP 2020',
        description:
          'Lipi School believes in holistic, integrated, enjoyable and engaging curriculum. Based on NEP 2020 we designed our curriculum and pedagogy.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: '21st-Century Ready',
        description:
          'Our academic curriculum aims to equip children with 21st-century skills, fostering creativity, critical thinking, effective communication, collaboration, and leadership.',
        icon: 'tabler:components',
      },
      {
        title: 'Pedagogy',
        description:
          'The key pillars of our pedagogy are learning through inquiry, conceptual understanding, differentiated instruction and technology integration.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Experiential Learning',
        description:
          'Facilitating students in conducting their own experiments enhances their ability to retain and understand studies. This hands-on experience provides superior learning opportunities, promoting a more effective grasp of the material.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Learning Beyond Answers',
        description:
          'In a laboratory, the goal is not a competition for the right answer. Instead, it serves as a platform to acquire knowledge, cultivate observation skills, and understand the significance of phenomena.',
        icon: 'tabler:arrows-right-left',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Holistic Development of Children"
    subtitle="A focus on physical, emotional, and social development, as well as cognitive growth is central to Lipi Education."
    tagline="Some of Our Popular Extra-Curricular Activities"
    items={[
      {
        title: 'Reading Club',
        description:
          'Reading is a very important activity in a child’s life, and something that needs to be developed from an early age. To aid to this, we have setup a spacious library with copious books',
        icon: 'tabler:book',
      },
      {
        title: 'Sports',
        description:
          'A healthy mind can only reside in a healthy body. We encourage each and every child to participate in sporting activities with special emphasis placed on developing sporting interest in girl students',
        icon: 'tabler:cricket',
      },
      {
        title: 'Yoga',
        description:
          'Yoga reduces stress and anxiety, improves memory and self control, promotes mindfulness, boosts immunity and increases self-confidence and self-esteem',
        icon: 'tabler:yoga',
      },
      {
        title: 'Music, Dance & Art',
        description:
          'Music, dance, and art education provide children with exposure to diverse global artistic traditions, fostering appreciation for different cultures and promoting a sense of global citizenship. Collaborating on artistic projects teaches cooperation, communication, and compromise, instilling values crucial for both personal and professional development.',
        icon: 'tabler:artboard',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Steps2
    id="our-values"
    title="Our Values"
    subtitle="Believe. Learn. Achieve."
    callToAction={{
      text: 'Know more',
      href: '/contact',
    }}
    items={[
      {
        title: 'Vision',
        description:
          'Our Vision is to develop global leaders for tomorrow. We aspire to be a school from which students gain Discipline, Values, Social Responsibility, Knowledge, Communication and Self confidence.',
      },
      {
        title: 'Mission',
        description:
          'The School’s mission is to provide a learning environment that encourages children to bring out the best in themselves and enables their all round development through the joy of learning, enduring values and celebration of diversity',
      },
      {
        title: 'Motto',
        description: 'Value education with scientific thoughts...',
      },
    ]}
  />

  <!-- HighlightedPosts Widget *******

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->
</Layout>
